<nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Brand -->
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png"></a>
    
    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
    <ul class="navbar-nav">
    {% assign nodes = site.pages | where: 'nav', 'active' | sort: 'index' %}
    {% for node in nodes %}
    <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
    </li>
    {% endfor %}
    </ul>
    </nav>